.income{
    display: flex;
    width: 100%;
}
.incomeWrapper{
    flex:6;
}
.content{
    display: flex;
    width: 100%;
}
.formWrapper{
    flex:1;
}
.lists{
    display: flex;
    width: 100%;
}
.incomeList{
    flex:1;
}
.expenseList{
    flex:1;
}