.App.dark{
    background-color:#222;
    color:#fff;
}
.App.light{
    background-color: #fff;
    color:black;
}
#dark{
    background-color:#222;
    color:#fff;
  }
  #light{
    background-color: #fff;
    color:black;
  }
  .datagrid{
    color:#efefef;
  }