.sidebar{
    /* background-color: #C4D7D2; */
    flex:1;
    border-right:0.5px solid lightgrey;
    min-height: 100vh;
}
.profile-img{
    width: 5rem;
    height: 5rem;
    object-fit:cover;
    border-radius: 50%;
    margin:20px;
}
.top{
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:20px;
}
.center{
    padding-left: 20px;
    margin:20px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.link{
    display: flex;
    align-items: center;
    text-decoration:none;
    /* color:#51897B; */
    color:grey;
    padding: 5px;
    cursor: pointer;
}
li:hover{
    background-color:#eee;
}
.icon{
    font-size:18px;
    color:#51897B;
    margin-right:5px;
}
.bottom{
    display: flex;
    align-items: center;
    margin:10px;
}
.colorOption{
    width: 20px;
    height: 20px;
    border-radius:5px;
    border:1px solid #51897B;
    cursor:pointer;
    margin: 5px;
}
.colorOption:nth-child(1){
    background-color: whitesmoke;
}
.colorOption:nth-child(2){
    background-color: #333;
}
.colorOption:nth-child(3){
    background-color: darkblue;
}