* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dashboard {
    display: flex;
}
.container {
    background-color: aliceblue;
    flex:6;
}
.widgets, .charts{
    display: flex;
    padding: 20px;
    gap:20px;
}
.charts{
    padding: 5px 20px;
}