* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/* registerForm starts */
.signUp-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: flex-end;
  align-items: center;
  flex-wrap:wrap;
}
.bg-wrapper {
  background-image: url('https://hpid-login-ui-images.id.hp.com/production/hp-smart-extra-large-revised.png');
  background-position: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  opacity:1;
  border-radius: 3rem;
  background-color: white;
  width: 450px;
  height: 550px;
  margin-right: 4rem;
}

.title{
  margin-bottom: 2rem;
}
.auth-msg {
  color:crimson;
}
.btn{
  background-color: green;
  color:white;
  padding:0.7rem 2rem;
  border-radius: 5rem;
  margin:1rem;
  border:none;
  font-size:1.1rem;
}