.datatable {
    height: 600px;
    padding: 20px;
}
/* .cellWithType{
    padding: 5px;
    border-radius:5px;
} */
.Debit{
    background-color: rgba(0,128,0,0.05);
    color:green;
    padding: 5px;
    border-radius:5px;
}
.Credit{
    background-color: rgba(255,0,0,0.05);
    color:crimson;
    padding: 5px;
    border-radius:5px;
}
.viewBtn, .deleteBtn{
    background-color: #3a7868;
    color:white;
    padding:0.5rem 1rem;
    border-radius: 5rem;
    border:none;
    margin:5px;
    font-size:1.1rem;
    width: auto;
    cursor:pointer;
  }
  .deleteBtn{
    background-color: crimson;
  }

 .dark{
    background-color:#222;
    color:#fff;
}
.light{
    background-color: #fff;
    color:black;
}
.datagrid{
    color:grey;
}